*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    height: 500px;

     max-width: 1320px;
    margin: 70px auto;
      
}

.p1{
    padding: 20px;
}
.row{
   
    flex-wrap: wrap;
    display: flex;
   
  
}
 
.img img{ 
    height: 300px;
    width: 100%;
    margin: auto;
    /* border-radius: 50%; */
    justify-content: center;
    background-position: center;
    
}

.text-center{
    text-align: center;
    font-size: 20px;
}
.text1-center{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.p-3{
    padding: 10px;
}